.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0,  0.3);
    border-radius: 8px;
    padding: 1em;
    background-color: var(--background);
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--btn-bg);
    margin-bottom: 1em;
}

.reset {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1em;
}

.reset svg {
    fill: var(--btn-bg);
}

.reset:active svg {
    animation: spin 0.5s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.counter {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin-bottom: 1em;
    background-color: var(--btn-bg);
    border-radius: 8px;
}

.counter h1 {
    font-size: 7rem;
    width: fit-content;
    text-align: center;
    color: var(--text-color);
}

.counter button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    font-size: 1.5rem;
    background-color: var(--btn-bg);
    color: white;
}

.counter button:hover {
    background-color: var(--btn-bg-hover);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input,
.input-container button {
    padding: 0.625em 1.25em;
    border-radius: 10px;
    border: 1px solid var(--btn-bg);
    cursor: pointer;
}

.input-container button {
    background-color: var(--btn-bg);
    color: white;
    border: transparent;
}

.input-container button:hover {
    background-color: var(--btn-bg-hover);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1em;
}

.btn-container button {
    padding: .5rem;
    border-radius: 4px;
    background-color: var(--btn-bg);
    color: var(--background);
}

/* 
================
MEDIA QUERIES
================ */
@media screen and (max-width: 468px) {

    .counter h1 {
        font-size: 4rem;
        width: fit-content;
    }
}