/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #d8f3dc;
    --btn-bg: #1b4332;
    --btn-bg-hover: #74c69d;
    --text-color: #EEEEEE;
    --black: #080001;
}